@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/**/

body {
    background-color: #14131a;
}

/**/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

/**/

.container--title {
    display: flex;
    justify-content: center;

    color: #FAFAFA;
    font-size: 27px;
    font-weight: bolder;
}
.container--title span {
    margin-left: 5px;

    color: #91aced;
}

/**/

.container--desc {
    display: flex;
    justify-content: center;

    color: #a5a4b0;
    font-size: 17px;

    margin-top: 5px;
}

/**/

.container--search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container--search input {
    width: 230px;
    padding: 12px 10px;

    border: none;
    border-radius: 5px;

    background-color: #22222e;

    color: #FAFAFA;

    outline: none;
}
.container--search button {
    padding: 12px;
    margin-left: 5px;

    border: none;
    border-radius: 10px;

    color: white;
    font-size: 14px;
    font-weight: 500;

    background-color: #263762;

    cursor: pointer;
}
.container--search button:hover {
    background-color: #0f1b37;
}

/**/
/**/

.infos {
    display: flex;

    width: 500px;
    height: 130px;

    background-color: #5d84a3;

    border-radius: 10px;

    padding: 12px;
    margin-top: 20px;
}
.temp,
.temp--icon {
    flex: 1;
}

/**/

.temp {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    color: #FAFAFA;
}
.temp p {
    font-size: 15px;
    font-weight: 500;
}
.temp .info--temp {
    display: flex;
    flex-direction: column;
}
.temp .info--temp .temp--atual {
    font-size: 40px;
    font-weight: bolder;

    margin-bottom: 5px;
}
.temp .info--temp .temp--min--max {
    font-weight: 500;
    font-size: 17px;

    margin-bottom: 3px;
}
.temp .info--temp .temp--desc {
    font-size: 14px;
    text-transform: capitalize;
}

/**/

.infos .temp--icon {
    display: flex;
    align-items: center;
}
.temp--icon img {
    width: 180px;
    height: auto;
}

/**/

.more--infos {
    width: 500px;
    height: 150px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #16161f;

    margin-top: 20px;
    padding: 10px;

    border-radius: 10px;
}
.more--infos .vento,
.more--infos .umidade,
.more--infos .sensacao--term {
    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;

    color: #FAFAFA;
}
.vento .title,
.umidade .title,
.sensacao--term .title {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 15px;

    color: #a5a4b0;
}
.vento span,
.umidade span,
.sensacao--term span {
    font-weight: 600;
}

/**/

.hidden {
    display: none;
}

/**/

/*ANIMAÇÃO DE CARREGAMENTO*/
.c-loader {
    animation: is-rotating 1s infinite;

    margin-top: 20px;
    margin-bottom: 20px;

    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #263762;

    height: 20px;
    width: 20px;
}
@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
}

/*RESPONSIVIDADE*/
@media (max-width: 430px) {
    .container--title {
        flex-direction: column;

        text-align: center;
        font-size: 27px;
    }
    .container--desc {
        font-size: 15px;
        text-align: center;
    }

    /**/

    .infos,
    .more--infos {
        width: 85%;
    }

    /**/

    .temp .info--temp .temp--atual{
        font-size: 38px;
    }
    .temp .info--temp .temp--min--max {
        font-size: 15px;
    }
    .temp .info--temp .temp--desc {
        font-size: 13px;
    }

    /**/

    .vento .title p,
    .umidade .title p,
    .sensacao--term .title p {
       font-size: 15px;
    }
    .vento .title img,
    .umidade .title img,
    .sensacao--term .title img {
       width: 27px;
    }
    .vento span,
    .umidade span,
    .sensacao--term span {
        font-size: 15px;
    }
}





